<div class="w3-white w3-margin">
  <div class="w3-green">
    <%= image_tag("icon.png")%>
  </div>
  <div class="w3-container w3-black">
    <h4>FAVSについて</h4>
    <p>FAVSはCSA(コミュニティ支援型農業)とITを組み合わせた新しい農業サービスです。サイトと実際の畑をつなぎ、好きな作物を遠隔栽培することができます。利用者にとって、好きな作物を選ぶと、選んだ農家さんが畑のお世話をしてもらいます。地から直接あなたの自宅にお届けします。</p>
  </div>
</div>
<hr>
