<div class="top-c-cropsMenu">
  <ul class="cropsMenuList">
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("crops_icon"), products_path(@products) %>
        </div>
        <div class="txtWrap list-name">
          <b>作物リストをみる</b>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("farmers_icon"), users_path(@users) %>
        </div>
        <div class="txtWrap list-name">
          <b>農家さんリストをみる</b>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("calendar_icon"), users_path(@users) %>
        </div>
        <div class="txtWrap list-name">
          <b>培スケジュールををみる</b>
        </div>
      </a>
    </li>
  </ul>
</div>
