<div class="top-c-cropsMenu">
  <ul class="cropsMenuList">
    <li>
      <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/?l-id=top-listmenu_crops">
        <div class="imgWrap">
          <img src="/top/img/crops_icon.png" alt="作物リストをみる">
        </div>
        <div class="txtWrap">
          作物リストをみる
        </div>
      </a>
    </li>
    <li>
      <a href="https://agriculture.rakuten.co.jp/farm/connect/farmers?l-id=top-listmenu_farmersList">
        <div class="imgWrap">
          <img src="/top/img/farmers_icon.png" alt="農家さんリストをみる">
        </div>
        <div class="txtWrap">
          農家さんリストを<wbr>みる
        </div>
      </a>
    </li>
    <li>
      <a href="/calendar/?l-id=top-listmenu_calendar">
        <div class="imgWrap">
          <img src="/top/img/calendar_icon.png" alt="栽培スケジュールをみる">
        </div>
        <div class="txtWrap">
          栽培スケジュールを<wbr>みる
        </div>
      </a>
    </li>
  </ul>
</div>
