<div class="top-c-cropsMenu">
  <ul class="cropsMenuList">
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("crops_icon"), products_path(@products) %>
        </div>
        <div class="txtWrap list-name">
          <b>農産物一覧を見る</b>
        </div>
      </a>
    </li>s
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("farmers_icon"), users_path(@users) %>
        </div>
        <div class="txtWrap list-name">
          <b>農家さん一覧を見る</b>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgWrap">
          <%= link_to image_tag("post_icon"), posts_path(@posts) %>
        </div>
        <div class="txtWrap list-name">
          <b>投稿一覧を見る</b>
        </div>
      </a>
    </li>
  </ul>
</div>
