<div class="specialSec specialSec_col4">
  <!-- main 1 -->
  <div class="item">
    <div class="inner">
      <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/020002/farmers/2149/?l-id=top-small_annoimo-yano">
        <div class="item-separate-1">
          <div class="cropsImg">
            <img src="https://agriculture.rakuten.co.jp/farm/assets/crops/img/020/002_1242x702.jpg" alt="クリーミーな甘さが癖になる「安納芋」">
          </div>
          <div class="item-labels">
            <span class="item-labels-03">人気</span>
          </div>
        </div>
        <div class="item-separate-2">
          <div class="datahead">
            <div class="imgWrap">
              <img src="https://image.space.rakuten.co.jp/d/strg/ctrl/32/dbc2c07e716367218231993d283e2d7ede90c43a.11.2.32.2.jpg" alt="矢野 昭一朗">
            </div>
            <div class="datahead-text">
              <span class="datahead-text-main">矢野 昭一朗
                <span class="honorific">さん</span>
              </span>
              <br>
              <span class="datahead-text-sub">愛媛県 テレファーム</span>
            </div>
          </div>
          <div class="tags">
            <span>10月頃お届け</span>
          </div>
          <div class="dataMain">
            <h3 class="dataMain-head">クリーミーな甘さが癖になる「安納芋」</h3>
          </div>
          <div class="dataSub">1,475<span class="unit">円</span><span class="attn">(税込・送料込)</span>/2<span class="attn">kg</span>前後</div>
        </div>
      </a>
      <div class="optionLink">
        <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/020002/farmers/2077/?l-id=top-small-option_annoimo-yano">通常：3,800円/8㎏前後はこちら＞</a>
      </div>
    </div>
  </div>

  <!-- main2 -->
  <div class="item">
    <div class="inner">
      <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/033002/farmers/2153/?l-id=top-small_manganji-yano">
        <div class="item-separate-1">
          <div class="cropsImg">
            <img src="https://agriculture.rakuten.co.jp/farm/assets/crops/img/033/002_1242x702.jpg" alt="成長の早い夏野菜、肉厚な「万願寺とうがらし」">
          </div>
          <div class="item-labels">
            <span class="item-labels-03">人気</span>
          </div>
        </div>
        <div class="item-separate-2">
          <div class="datahead">
            <div class="imgWrap">
              <img src="https://image.space.rakuten.co.jp/d/strg/ctrl/32/dbc2c07e716367218231993d283e2d7ede90c43a.11.2.32.2.jpg" alt="矢野 昭一朗">
            </div>
            <div class="datahead-text">
              <span class="datahead-text-main">矢野 昭一朗
                <span class="honorific">さん</span>
              </span>
              <br>
              <span class="datahead-text-sub">愛媛県 テレファーム</span>
            </div>
          </div>
          <div class="tags">
            <span>11月頃お届け</span>
          </div>
          <div class="dataMain">
            <h3 class="dataMain-head">成長の早い夏野菜、肉厚な「万願寺とうがらし」</h3>
          </div>
          <div class="dataSub">1,200
            <span class="unit">円</span>
            <span class="attn">(税込・送料込)</span>/4袋前後</div>
        </div>
      </a>
      <div class="optionLink">
        <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/033002/farmers/2086/?l-id=top-small-option_manganji-yano">通常：1,700円/8袋前後はこちら＞</a>
      </div>
    </div>
  </div>

  <!-- main3 -->
  <div class="item">
    <div class="inner">
      <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/031003/farmers/2155/?l-id=top-small_shironasu-nishioka">
        <div class="item-separate-1">
          <div class="cropsImg">
            <img src="https://agriculture.rakuten.co.jp/farm/assets/crops/img/031/005_1242x702.jpg" alt="トロっとした果肉がたまらない「純白なす」">
          </div>
          <div class="item-labels">
            <span class="item-labels-03">人気</span>
          </div>
        </div>
        <div class="item-separate-2">
          <div class="datahead">
            <div class="imgWrap">
              <img src="https://image.space.rakuten.co.jp/d/strg/ctrl/32/304664d3bf8cc5298de425216656c4817fddb1cb.11.2.32.2.jpg" alt="西岡 守">
            </div>
            <div class="datahead-text">
              <span class="datahead-text-main">西岡 守
                <span class="honorific">さん</span>
              </span>
              <br>
              <span class="datahead-text-sub">愛媛県 テレファーム</span>
            </div>
          </div>
          <div class="tags">
            <span>8月頃お届け</span>
          </div>
          <div class="dataMain">
            <h3 class="dataMain-head">トロっとした果肉がたまらない「純白なす」</h3>
          </div>
          <div class="dataSub">1,200
            <span class="unit">円</span>
            <span class="attn">(税込・送料込)</span>/2袋前後</div>
        </div>
      </a>
      <div class="optionLink">
        <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/031003/farmers/2107/?l-id=top-small-option_shironasu-nishioka">通常：1,950円/4袋前後はこちら＞</a>
      </div>
    </div>
  </div>

  <!-- main4 -->
  <div class="item">
    <div class="inner">
      <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/031001/farmers/2152/?l-id=top-small_zucchini-nishioka">
        <div class="item-separate-1">
          <div class="cropsImg">
            <img src="https://agriculture.rakuten.co.jp/farm/assets/crops/img/031/001_1242x702.jpg" alt="農薬・化学肥料不使用で栽培する「なす」">
          </div>
          <div class="item-labels">
            <span class="item-labels-03">人気</span>
          </div>
        </div>
        <div class="item-separate-2">
          <div class="datahead">
            <div class="imgWrap">
              <img src="https://image.space.rakuten.co.jp/d/strg/ctrl/32/304664d3bf8cc5298de425216656c4817fddb1cb.11.2.32.2.jpg" alt="西岡 守">
            </div>
            <div class="datahead-text">
              <span class="datahead-text-main">西岡 守
                <span class="honorific">さん</span>
              </span>
              <br>
              <span class="datahead-text-sub">愛媛県 テレファーム</span>
            </div>
          </div>
          <div class="tags">
            <span>7～8月頃お届け</span>
          </div>
          <div class="dataMain">
            <h3 class="dataMain-head">農薬・化学肥料不使用で栽培する「なす」</h3>
          </div>
          <div class="dataSub">1,300
            <span class="unit">円</span>
            <span class="attn">(税込・送料込)</span>/2袋前後</div>
        </div>
      </a>
      <div class="optionLink">
        <a href="https://agriculture.rakuten.co.jp/farm/app/contractField/crops/031001/farmers/2096/?l-id=top-small-option_nasu-matsuzaki">通常：1,700円/4袋前後はこちら＞</a>
      </div>
    </div>
  </div>
</div>
