<br><br>
<div class="user">
  <div class="container">
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 user-right">
      <hr class="resposive">
      <hr class="normal">
      <%= render "pages/mini_home_page",  post: @post %>
    </div>
  </div>
</div>
