.post-action {
  float: right;

  .post-like,
  .post-dislike,
  .post-comment {
    padding: 5px;
  }

  .activity-like,
  .activity-dislike {
    text-decoration: none;
  }

  .activity-like:hover,
  .activity-dislike:hover {
    text-decoration: none;
  }
}

.star {
  color: #b19e00;
  display: inline-block;
  font-size: 18px;
}

.fa-star {
  color: #f3d903;
  cursor: pointer;
  font-size: 18px;
}

.fa-star:hover {
  color: #f7db12;
}
